@page
@model ProyectoBase.Pages.Menu.FicPersonas.fic_rh_cat_domicilios.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create" class="btn btn-danger" asp-route-id="2">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_domicilio[0].Domicilio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_domicilio[0].EntreCalle1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_domicilio[0].EntreCalle2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_domicilio[0].CodigoPostal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_domicilio[0].Coordenadas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_domicilio[0].Principal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_domicilio[0].Pais)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_domicilio[0].Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_domicilio[0].Municipio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_domicilio[0].Localidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_domicilio[0].Colonia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_domicilio[0].Referencia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_domicilio[0].ClaveReferencia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_domicilio[0].TipoDomicilio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_domicilio[0].FechaReg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_domicilio[0].FechaUltMod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_domicilio[0].UsuarioReg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_domicilio[0].UsuarioMod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_domicilio[0].Activo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_domicilio[0].Borrado)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.rh_cat_domicilio) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntreCalle1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntreCalle2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coordenadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Principal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Municipio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colonia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClaveReferencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDomicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaReg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaUltMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioReg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Borrado)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdDomicilio">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdDomicilio">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdDomicilio">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
