@page
@model ProyectoBase.Pages.Menu.FicPersonas.fic_rh_cat_telefonos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>rh_cat_telefono</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rh_cat_telefono.CodPais)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_telefono.CodPais)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rh_cat_telefono.NumTelefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_telefono.NumTelefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rh_cat_telefono.NumExtencion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_telefono.NumExtencion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rh_cat_telefono.Principal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_telefono.Principal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rh_cat_telefono.ClaveReferencia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_telefono.ClaveReferencia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rh_cat_telefono.Referencia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_telefono.Referencia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rh_cat_telefono.FechaReg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_telefono.FechaReg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rh_cat_telefono.FechaUltMod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_telefono.FechaUltMod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rh_cat_telefono.UsuarioReg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_telefono.UsuarioReg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rh_cat_telefono.UsuarioMod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_telefono.UsuarioMod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rh_cat_telefono.Activo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_telefono.Activo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rh_cat_telefono.Borrado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_telefono.Borrado)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.rh_cat_telefono.IdTelefono">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
